        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            background-color: #FFFFFF;
            color: #434455;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 1.5;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul {
            margin: 0;
        }
        
        ul {
            list-style-type: none;
            padding: 0;
        }
        
        img {
            display: block;
            max-width: 100%;
        }
        
        a {
            text-decoration: none;
        }
        
        .container {
            max-width: 320px;
            padding-left: 16px;
            padding-right: 16px;
            margin-left: auto;
            margin-right: auto;
        }
        
        @media screen and (min-width: 768px) {
            .container {
                max-width: 768px;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .container {
                max-width: 1158px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        
        @media screen and (max-width: 1157px) {
            .all-section {
                padding: 96px 0;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .all-section {
                padding: 120px 0;
            }
        }
        /*-------------------------------------------------------------------*/
        /*--section_1_begin------------------------------------------------------------------*/
        
        .first-section {
            width: 100%;
            background-color: #2e2f42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mob-bg-@1x.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        
        @media screen and (max-width: 1157px) {
            .first-section {
                padding: 112px 0;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .first-section {
                padding: 188px 0;
            }
        }
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .first-section {
                background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/mob-bg-@2x.jpg');
            }
        }
        
        @media screen and (min-width: 768px) {
            .first-section {
                width: 100%;
                background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tabl-bg-@1x.jpg');
            }
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .first-section {
                    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tabl-bg-@2x.jpg');
                }
            }
        }
        
        @media screen and (min-width: 1158px) {
            .first-section {
                width: 100%;
                background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desk-bg-@1x.jpg');
            }
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .first-section {
                    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/desk-bg-@2x.jpg');
                }
            }
        }
        
        .first-title {
            font-weight: 700;
            font-size: 36px;
            max-width: 320px;
            line-height: 1.11;
            margin: auto 52px;
            letter-spacing: 0.02em;
            text-align: center;
            color: #fff;
        }
        
        @media screen and (min-width: 768px) {
            .first-title {
                font-size: 56px;
                line-height: 1.07;
                max-width: 496px;
                margin: 0 auto;
            }
        }
        
        .press-key {
            font-family: 'Roboto', sans-serif;
            padding: 16px 32px 16px 32px;
            display: block;
            min-width: 169px;
            height: 56px;
            margin-top: 48px;
            margin-left: auto;
            margin-right: auto;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            font-weight: 500;
            line-height: 1.5;
            font-size: 16px;
            letter-spacing: 0.04em;
            color: #ffffff;
            background-color: #4D5AE5;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /*---section_1_end-----------------------------------------------------------------*/
        /*----section_2_begin-------------------------------------------------------------------*/
        
        .second-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 72px;
        }
        
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
        
        .part-second {
            display: flex;
            justify-content: center;
            gap: 24px;
        }
        
        .features {
            max-width: 264px;
        }
        
        @media screen and (max-width: 767px) {
            .part-second {
                display: flex;
                flex-direction: column;
                gap: 72px;
            }
        }
        
        @media screen and (min-width: 768px) {
            .part-second {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 72px;
                column-gap: 24px;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .part-second {
                flex-wrap: nowrap;
                gap: 24px;
            }
        }
        
        @media screen and (min-width: 768px) {
            .features {
                width: calc((100% - 24px) / 2);
            }
        }
        
        @media screen and (min-width: 1158px) {
            .features {
                width: calc((100% - 72px) / 4);
            }
        }
        
        .part-second .icons {
            display: flex;
            justify-content: center;
            height: 112px;
            border: 1px solid #8e8f99;
            border-radius: 4px;
            background-color: #f4f4fd;
            align-items: center;
            margin-bottom: 8px;
        }
        
        @media screen and (max-width: 1157px) {
            .part-second .icons {
                display: none;
            }
        }
        
        .third-title {
            color: #2e2f42;
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            letter-spacing: 0.02em;
            line-height: 1.11;
            margin-bottom: 8px;
        }
        
        @media screen and (min-width: 768px) {
            .third-title {
                text-align: start;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .third-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
            }
        }
        
        .texting {
            letter-spacing: 0.02em;
            color: #434455;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
        }
        
        @media screen and (min-width: 1158px) {
            .texting {
                font-weight: 400;
            }
        }
        /*---section_2_end-----------------------------------------------------------------*/
        /*---section_3_begin-----------------------------------------------------------------*/
        
        .part-third {
            background-color: #F4F4FD;
        }
        /*     .listing-team {
            display: flex;
            gap: 24px;
            justify-content: center;
        }*/
        
        .listing-team {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 72px;
        }
        
        @media screen and (min-width: 768px) {
            .listing-team {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                row-gap: 64px;
                column-gap: 24px;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .listing-team {
                flex-wrap: nowrap;
                gap: 24px;
            }
        }
        /*.listing-part-third {
            flex-basis: calc((100% - 3*24px) / 4);
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background-color: #FFF;
        }*/
        
        .listing-part-third {
            background-color: #FFF;
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
        }
        
        @media screen and (min-width: 768px) {
            .listing-part-third {
                flex-basis: calc((100%-24px) / 2);
            }
        }
        
        @media screen and (min-width: 1158px) {
            .listing-part-third {
                flex-basis: calc((100%-72px) / 4);
            }
        }
        /* .man-card {
            padding: 32px 0;
            text-align: center;
        }*/
        
        .man-card {
            padding: 32px 0;
        }
        
        .man-title {
            color: #2e2f42;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 8px;
        }
        /*   .texting-third {
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }*/
        
        .texting-third {
            color: #434455;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 8px;
        }
        
        .icons-listing {
            display: flex;
            gap: 24px;
            justify-content: center;
            align-items: baseline;
            /* align-items: center;*/
        }
        
        .icon-item {
            width: 40px;
            height: 40px;
        }
        
        .social-link {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .social-link:hover,
        .social-link:focus {
            background-color: #404bbf;
        }
        
        .icon-file {
            fill: #f4f4fd;
        }
        /*----section_3_end----------------------------------------------------------------*/
        /*---section_4_begin-----------------------------------------------------------------*/
        /*  .listing-portfolio {
            padding-top: 72px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
            margin: 0;
            padding: 0;
            list-style: none;
        }*/
        
        .listing-portfolio {
            display: flex;
            flex-wrap: wrap;
            gap: 48px 24px;
        }
        
        @media screen and (min-width: 768px) {
            .listing-portfolio {
                display: flex;
                flex-wrap: wrap;
                row-gap: 72px;
                column-gap: 24px;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .listing-portfolio {
                row-gap: 48px;
            }
        }
        
        .iteming {
            box-shadow: none;
            background: #fff;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /*  .listing-portfolio .iteming {
            width: calc((100% - 48px) / 3);
        }    */
        
        @media screen and (max-width: 767px) {
            .iteming:not(:last-child) {
                margin-bottom: 48px;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .iteming {
                width: calc((100% - 48px) / 3);
            }
        }
        
        .image-item {
            position: relative;
            /* height: 300px;
            margin: 0 auto;
            background-color: #bdbdbd;*/
            overflow: hidden;
        }
        
        @media screen and (min-width: 768px) {
            .image-item {
                width: 356px;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .image-item {
                width: 360px;
            }
        }
        
        .moving-text {
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            padding: 40px 32px;
            background-color: #4d5ae5;
            height: 100%;
            width: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .iteming:hover {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            transform: translateY(0%);
        }
        
        .iteming:hover .moving-text {
            transform: translateY(0);
        }
        
        .texting-app {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
        }
        
        .page-header {
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        }
        
        .link {
            position: relative;
            display: block;
            font-weight: 500;
            color: #2e2f42;
            padding: 24px 0;
        }
        
        .link::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .current {
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .link:is(.current,
         :hover,
         :focus)::after {
            opacity: 1;
        }
        
        .all-contacts {
            font-style: normal;
            margin-left: auto;
        }
        
        .header-container,
        .nav-header,
        .menu-header {
            display: flex;
            align-items: center;
        }
        
        @media screen and (max-width: 767px) {
            .nav-item,
            .header-contacts-item {
                display: none;
            }
        }
        
        @media screen and (min-width: 1158px) {
            .contacts {
                padding-top: 24px;
                padding-bottom: 24px;
                display: flex;
                gap: 40px;
            }
        }
        
        @media screen and (min-width: 768px) {
            .link-second {
                color: #434455;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: 0.04em;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
        
        @media screen and (min-width: 1158px) {
            .link-second {
                font-size: 16px;
                line-height: 1.5;
                display: inline-block;
            }
        }
        
        .menu-header {
            gap: 40px;
        }
        
        .logo-header {
            margin-right: 76px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        
        .logo-header,
        .logo-footer,
        .end-logo-footer,
        .end-logo-header {
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        
        .end-logo-header {
            color: #2e2f42;
        }
        
        .end-logo-footer {
            color: #f4f4fd;
        }
        
        .logo-header,
        .logo-footer {
            color: #4d5ae5;
        }
        
        .logo-footer {
            display: inline-block;
            margin-bottom: 16px;
        }
        
        .texting-footer {
            padding: 100px 0;
            background-color: #2e2f42;
        }
        
        .texting-second {
            letter-spacing: 0.02em;
        }
        
        .text-footer .logo-header .end-logo-footer:hover,
        .text-footer .logo-header .end-logo-footer:focus,
        .text-footer .logo-footer:hover,
        .text-footer .logo-footer:focus,
        .nav-header .logo-header:hover,
        .nav-header .logo-header:focus,
        .nav-header .logo-header .end-logo-header:hover,
        .nav-header .logo-header .end-logo-header:focus,
        .menu-header .link:hover,
        .menu-header .link:focus,
        .contacts .link-second:hover,
        .contacts .link-second:focus {
            color: #404bbf;
        }
        
        .social-link-footer:hover,
        .social-link-footer:focus {
            background-color: #31d0aa;
        }
        
        .part-first .press-key:hover,
        .part-first .press-key:focus {
            background-color: #404BBF;
        }
        
        .main-text-footer {
            letter-spacing: 0.02em;
            max-width: 264px;
            color: #f4f4fd;
        }
        
        .socialing-text {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
        }
        
        .social-link-footer {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .icons-listing-footer {
            display: flex;
            gap: 16px;
            flex-basis: calc((100% - 3*16px) / 4);
            justify-content: center;
            align-items: center;
        }
        
        .content-footer {
            display: flex;
            align-items: baseline;
        }
        
        .logo-p {
            margin-right: 120px;
        }
        /* sign-up form */
        
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
            opacity: 0;
            visibility: hidden;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .backdrop.is-open {
            opacity: 1;
            visibility: visible
        }
        
        .addition {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) scale(1);
            width: 408px;
            min-height: 584px;
            background-color: #fcfcfc;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px 24px;
        }
        
        .addition-button-close {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .addition-icon-close {
            /*fill: #2e2f42;*/
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .addition-button-close:hover,
        .addition-button-close:focus {
            background-color: #404bbf;
            border: none;
            fill: #ffffff;
        }
        
        .addition-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 16px;
            /*display: block;*/
        }
        
        .addition-wrapper {
            margin-bottom: 8px;
        }
        
        .addition-label {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
            display: block;
            margin-bottom: 4px;
        }
        
        .addition-icon-wrapper {
            position: relative;
        }
        
        .addition-input {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .addition-input:focus {
            border-color: #4D5AE5;
        }
        
        .addition-icon {
            fill: #2e2f42;
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .addition-input:focus+.addition-icon {
            fill: #4D5AE5;
        }
        
        .addition-text-field-wrapper {
            margin-bottom: 16px;
        }
        
        .addition-text-field {
            width: 100%;
            height: 120px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding: 8px 16px;
            outline: transparent;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .Text_input {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16667;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
        }
        
        .addition-text-field:focus {
            border-color: #4D5AE5;
        }
        
        .addition-check-wrapper {
            margin-bottom: 24px;
        }
        
        .addition-check-text {
            color: #8e8f99;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
        }
        
        .addition-check-box {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
            margin-right: 8px;
        }
        
        .addition-check-input:checked+.addition-check-text .addition-check-box {
            background-color: #404bbf;
            border: none;
            fill: #F4F4FD;
        }
        
        .addition-link-text {
            color: #4D5AE5;
        }
        
        .addition-link-text:hover,
        .addition-link-text:focus {
            color: #404bbf;
        }
        
        .addition-button-submit {
            display: block;
            min-width: 169px;
            height: 56px;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            background-color: #4D5AE5;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0 auto;
            border-radius: 4px;
        }
        
        .addition-button-submit:hover,
        .addition-button-submit:focus {
            background-color: #404bbf;
        }
        
        .footer-subscribe-wrapper {
            margin-left: auto;
        }
        
        .footer-subscribe-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            margin-bottom: 16px;
        }
        
        .footer-subscribe-form {
            display: flex;
            gap: 24px;
        }
        
        .footer-subscribe-input {
            font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #fff;
            background-color: transparent;
            min-width: 264px;
            min-height: 40px;
            flex-shrink: 0;
            padding-left: 16px;
            border-radius: 4px;
            border: 1px solid #fff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            outline: auto;
        }
        
        .footer-subscribe-input:hover,
        .footer-subscribe-input:focus {
            outline-color: #31d0aa;
        }
        
        .footer-subscribe-input::placeholder {
            color: #fff;
        }
        
        .footer-subscribe-button {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            background-color: #4d5ae5;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 40px;
            min-width: 165px;
            padding: 8px 24px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .footer-subscribe-button:hover,
        .footer-subscribe-button:focus {
            background-color: #404bbf;
        }
        
        .footer-subscribe-icon {
            fill: #fff;
            margin-left: 16px;
        }
        /* ---------- Mobile Menu ---------- */
        
        @media screen and (min-width: 768px) {
            .mob-menu-open {
                display: none;
            }
        }
        
        .mob-menu-open {
            padding: 24px 0;
            line-height: 0;
            background-color: transparent;
            border: none;
            margin-left: auto;
        }
        
        .mob-menu-open-icon {
            fill: rgba(46, 47, 66, 0.7);
        }
        
        .mob-menu-container {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            z-index: 999;
            transform: translateX(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .mob-menu-container.is-open {
            visibility: visible;
            pointer-events: auto;
            transform: translateX(0);
        }
        
        @media screen and (max-width: 767px) {
            .mob-menu-wrapper {
                max-width: 320px;
            }
        }